.NewBoxForm > button {
    display: block;
    margin: auto;
    margin-top: 20px;
}

.NewBoxForm > label{
    margin-left: 20px;
}

.NewBoxForm > div {
    display: inline-block;
    margin-right: 5px;
}